<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout-general}">
      
	<head>
		<title>Profile</title>
	</head>
	
	<body>
		<th:block layout:fragment="content">
			<h1>Profile</h1>
			<div th:if="${(param.isProfileUpdatedSuccessfully != null) and (param.isProfileUpdatedSuccessfully)}" class="alert alert-success dismissible fade show" role="alert">
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-lbel="Close"></button>
				<strong>Success!</strong> Profile successfully updated
			</div>
			<div th:if="${(param.areSettingsUpdatedSuccessfully != null) and (param.areSettingsUpdatedSuccessfully)}" class="alert alert-success dismissible fade show" role="alert">
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-lbel="Close"></button>
				<strong>Success!</strong> Settings successfully updated
			</div>
			<div class="card">
				<img src="https://picsum.photos/1500/300" class="card-img-top" style="height: 300px; object-fit: cover;" alt="Random image">
				<div class="card-body">
					<div class="d-flex justify-content-between">
						<h5 class="card-title" th:text="${user.userName}"></h5>
						<p class="card-text"><small class="text-muted" th:text="${userStatus}"></small></p>
					</div>
					<p class="card-text" th:text="${user.description}"></p>
					<p th:if="${user.age != null}"  class="card-text"><small class="text-muted" th:text="${user.age} + ' years old'"></small></p>
				</div>
				<ul class="list-group list-group-flush">
					<li th:if="${user.userName == #authentication.name or 'PayMyBuddy' == #authentication.name}" class="list-group-item">
						<strong>Email: </strong>
						<span th:text="${user.email}"></span>
					</li>
					<li class="list-group-item">
						<strong>First name: </strong>
						<span th:text="${user.firstName}"></span>
					</li>
					<li class="list-group-item">
						<strong>Last name: </strong>
						<span th:text="${user.lastName}"></span>
					</li>
					<li th:if="${user.userName == #authentication.name or 'PayMyBuddy' == #authentication.name}" class="list-group-item">
						<strong>Phone number: </strong>
						<span th:text="${user.phoneNumber}"></span>
					</li>
					<li class="list-group-item">
						<strong>Date of birth: </strong>
						<span th:text="${user.dateOfBirth}"></span>
					</li>
				</ul>
			</div>
			<a th:if="${user.userName == #authentication.name}" th:href="@{'/users/{userName}?isEditing=true'(userName=${user.userName})}" class="btn btn-outline-primary mt-2" role="button">Edit profile</a>
		</th:block>
	</body>
	
</html>