<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout-general}">
      
	<head>
		<title>Home</title>
	</head>
	
	<body>
		<th:block layout:fragment="content">
			<h1>Your Account</h1>
			<div class="card">
				<img src="https://picsum.photos/1500/300" class="card-img-top" style="height: 300px; object-fit: cover;" alt="Random image">
				<div class="card-body">
					<h5 class="card-title">Pay My Buddy balance</h5>
					<p class="card-text" th:text="${account.balance} + ' €'"></p>
					<a th:href="@{/bankTransfers}" class="btn btn-primary" role="button">
						<i class="bi bi-plus"></i> Top up
					</a>
					<a th:href="@{/bankTransfers}" class="btn btn-outline-primary" role="button">
						<i class="bi bi-arrow-right"></i> Use
					</a>
				</div>
			</div>
			
<!-- 			<h3 class="mt-4">All my bank flows</h3> -->
<!-- 			<table th:if="${!page.getContent().isEmpty}" class="table table-striped table-bordered"> -->
<!-- 				<thead> -->
<!-- 					<tr class="table-primary"> -->
<!-- 						<th>Connection</th> -->
<!-- 						<th>Description</th> -->
<!-- 						<th>Date</th> -->
<!-- 						<th>Amount</th> -->
<!-- 					</tr> -->
<!-- 				</thead> -->
<!-- 				<tbody> -->
<!-- 					<tr th:each="bankFlow : ${page.getContent()}"> -->
<!-- 						<td> -->
<!-- 							<strong th:if="${bankFlow.discriminatorValue == transaction}" th:text="${bankFlow.transacti.getSender().getId() == 1} 'Sent to: '"></strong> -->
<!-- 							<strong th:unless="${transaction.getSender().getId() == 1}" th:text="'Received from: '"></strong> -->
<!-- 							<span th:if="${transaction.getSender().getId() == 1}" th:text="${transaction.getReceiver().getUserName()}"></span> -->
<!-- 							<span th:unless="${transaction.getSender().getId() == 1}" th:text="${transaction.getSender().getUserName()}"></span> -->
<!-- 						</td> -->
<!-- 						<td th:text="${bankFlow.description}"></td> -->
<!-- 						<td th:text="${bankFlow.timeStamp}"></td> -->
<!-- 						<td> -->
<!-- 							<span th:if="${transaction.getSender().getId() == 1}" th:text="'-' + ${transaction.amount} + ' €'"></span> -->
<!-- 							<span th:unless="${transaction.getSender().getId() == 1}" th:text="${transaction.amount} + ' €'"></span> -->
<!-- 						</td> -->
<!-- 					</tr> -->
<!-- 				</tbody> -->
<!-- 			</table> -->
			
<!-- 			<p th:unless="${!page.getContent().isEmpty}">No transaction to display</p> -->
		</th:block>
			
		</th:block>
	</body>
	
</html>