<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	    <title>Pay My buddy - Reset password</title>
	    
	    <!-- Bootstrap CSS -->
	    <link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	    <!-- Bootstrap JS -->
	    <script th:src="@{/js/bootstrap.min.js}"></script>
	    
   		<link th:rel="stylesheet" th:href="@{/css/form-validation-styles.css}">
	    
	    <!-- Jquery form validation -->
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
	    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
	    <script th:src="@{/js/reset-password-formm.js}"></script>
	    
	    <!-- Jquery password strength -->
		<script src="/js/pwstrength-bootstrap.min.js"></script>
	</head>
	
	<body>
		<div class="container mt-5">
		
			<div class="d-flex justify-content-center align-items-center">
				<div th:if="${errorMessage}" class="alert alert-danger dismissible fade show w-50" role="alert">
					<button type="button" class="btn-close" data-bs-dismiss="alert" aria-lbel="Close"></button>
					<strong>Error!</strong>
					<span th:text="${errorMessage}">Error message</span>
				</div>
			</div>
			
			<div class="d-flex justify-content-center align-items-center">
				<div class="card w-75 text-center">
					<div class="card-body">
						<div class="d-flex justify-content-center">
							<h5 class="card-title bg-primary rounded p-3 text-light mb-4">Pay My Buddy</h5>
						</div>
					    <form id="resetPasswordForm" th:action="@{/user/savePassword}" action="#" method="post" class="form">
     						<div class="row mb-3">
								<label for="password" class="col-sm-2 col-form-label">Password*</label>
								<div class="col-sm-10">
									<input type="password" class="form-control" name="password" id="password" placeholder="*****">
								</div>
								<span th:text="${passwordErrorMessage}" class="text-danger text-end">Password Error</span>
  							</div>
  							<div class="row">
								<label for="passwordConfirmation" class="col-sm-2 col-form-label">Password confirmation*</label>
								<div class="col-sm-10">
									<input type="password" class="form-control" name="passwordConfirmation" id="passwordConfirmation" placeholder="*****">
								</div>
  							</div>
  							<input id="userName" type="hidden" name="userName" th:value="${userName}" />
  							<input id="token" type="hidden" name="token" th:value="${token}" />
  							<input id="userId" type="hidden" name="userId" th:value="${userId}" />
				            <button type="submit" class="btn btn-primary mb-3">Reset password</button>
					        <div>
						        <a th:href="@{/signup}" class="card-link">Sign up</a>
					        </div>
					        <div>
						        <a th:href="@{/login}" class="card-link">Log in</a>
					        </div>
					    </form>
				  	</div>
				</div>
			</div>
		
		</div>
		<script type="text/javascript">
		 $(document).ready(function() {
				options = {
				    common : {
						minChar : 12,
						usernameField: "#userName"
				    },
				    ui : {
						showErrors : true,
				    }
				};
				$('#password').pwstrength(options);
		    });
		</script>
	</body>
</html>